.website-container {
  place-self: center;
}
.cardDisplay-container {
  width: 120px;
  height: 120px;
  background-color: pink;
}
.cardDisplay-flexbox {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
